/* 
    Created on : Oct 20, 2015, 1:01:50 PM
    Author     : khairul
*/
.icon-success {
    color: #088A08;
}
body, #mainWrapper {
    height: 100%;
    background-color:#FFF;
}
body, .form-control{
    font-size:12px!important;

}
.floatRight{
    float:right;
    margin-right: 18px;
}
.has-error{
    color:red;
}
.formcontainer{
    background-color: #DAE8E8;
    padding: 20px;
}
.tablecontainer{
    padding-left: 20px;
}
.generic-container {
    width:80%;
    margin-left: 10%;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    background-color: #EAE7E7;
    border: 1px solid #ddd;
}
.custom-width {
    width: 80px !important;
}
.tdn a{text-decoration: none;}
.nav-tabs>li.active>a,
.nav-tabs>li.active>a:hover,
.nav-tabs>li.active>a:focus {
    color: #555;
    background-color: #F2F2F2;
    border: 1px solid #eee;
    border-bottom-color: transparent;
    cursor: default
}
.header{
    display:block;
    height:50px;
    position:relative;
    background: #50a3a2;
    background: -webkit-linear-gradient(top left, #50a3a2 0%, #53e3a6 100%);
    background: linear-gradient(to bottom right, #50a3a2 0%, #53e3a6 100%);
    width:100%;
}
.modal-dialog{
    position: relative;
    display: table; //This is important 
    overflow-y: auto;    
    overflow-x: auto;
    width: auto;
    min-width: 70%;   
}
.modal-header, h2, .close {
    background-color: #5cb85c;
    color:white !important;
    text-align: center;
    font-size: 16px;
}
.green{color:green;}
.yellow{color:yellow;}
.blue{color:blue;}
.red{color:red;}
.aqua{color:aqua;}

